@media (max-width: 480px) {


    .container-header {
        margin-left: 10%;
        gap: 20px;
        padding: 5px;

    }

    .container-header img {
        height: 100px;
    }

    .links,
    .link-nail {
        font-size: 14px;
        gap: 30px;
    }

    .links:hover,
    .link-nail:hover {
        color: default;
        cursor: default;
        font-size: inherit;
    }

    .contact:hover {
        cursor: default;
    }

    #close:hover,
    #btn-close:hover {
        background-color: inherit;
    }

    .main {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container p {
        margin-top: -368px;
        font-size: 10px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 199%;
    }


    .logo-main {
        width: 70%;
    }

    .container-eyebrow,
    .container-nails {
        padding: 10px;

        & .eyebrow {
            margin-left: -36px;
            width: 104vw;
            height: 70vh;
        }


    }

    .logo-container {
        width: 47%;
    }

    .image-eyebrow,
    .image-nails {
        width: 12rem;
        margin-left: -356px;
    }

    .arrow {
        display: flex;
        gap: 106%;
        margin-left: -24px;
    }

    & .arrow img {
        width: 25px;
        height: 25px;
    }
}

.contact {
    background-color: #edf4f5;
    color: #2d4b7e;
    margin-left: -88px;
}

.x-window {
    height: 25px;
}

#btn-close,
#close {
    position: absolute;
    right: 22px;
    top: 38px;
    border: none;
}

.main-img {
    display: none;
}

.image-nails-2 {
    position: absolute;
    top: 7rem;
    left: 6.6rem;
    height: 276px;
    width: 278px;
}

.cratedBy {
    position: absolute;
    font-size: 7px;
    left: 38%;
    top: 80%;
    transform: translateX(-50% -80%);
}