* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playwrite AU VIC", cursive;
}

body {
    height: 100vh;
}

.container-principal {
    background: rgb(255, 255, 255);
    background: linear-gradient(145deg, rgba(255, 255, 255, 1) 35%, rgba(45, 75, 126, 1) 53%, rgba(45, 75, 126, 1) 100%);
}



.container-header {
    display: flex;
    align-items: center;
    gap: 50px;

}

.links,
.link-nail {
    color: #2d4b7e;
    font-size: 24px;
    margin-top: 40px;
    cursor: pointer;
}

.links:hover {
    color: black;
    font-size: 26px;
    transition: 0.5s ease-in-out;
}

.link-nail:hover {
    color: black;
    font-size: 26px;
    transition: 0.5s ease-in-out;
}


.main {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px;
    justify-content: space-around;
}

.container {
    width: 40%;
}

p {
    font-size: 12px;
}

.contact {
    color: #ffffff;
    background-color: #2d4b7e;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

.logo-main {
    height: 500px;
}

.eyebrow,
.nails {
    display: flex;
    position: fixed;
    top: 50%;
    left: 170%;
    transform: translate(-50%, -50%);
    height: 65vh;
    width: 85vw;
    background-color: #edf4f5;
    padding: 20%;
    border-radius: 38px;



    & .logo-container {
        position: fixed;
        top: -19px;
        left: 49%;
        right: 50%;
        transform: translate(-43%, -7%);

        height: 150px;
        display: flex;
    }

    & #btn-close,
    #close {
        height: 38px;
        width: 46px;
        position: absolute;
        right: 22px;
        top: 38px;
        cursor: pointer;
        border: none;
        border-radius: 51%;
    }

    & .slide-photos {
        position: absolute;
        inset: 0;

        & .image-eyebrow {

            position: absolute;
            top: 6rem;
            left: 26.9rem;
        }

    }


    & .arrow {
        width: 70vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px);
        display: flex;
        justify-content: space-between;

        & button:nth-child(1) {
            & img {
                transform: scale(-1);
                margin-left: -4px;
                margin-top: 3px;
            }
        }

        & button:nth-child(2) {
            & img {
                margin-right: -4px;
                margin-top: 3px;
            }
        }

        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            & img {
                width: 30px;

            }

        }

        & button:hover {
            background-color: #2d4b7e;
            transition: 0.5s;
        }
    }

    &::before {
        content: '';
        position: absolute;
        height: 200px;
        width: 100%;
        top: 20%;
        left: 0%;
        border-top: 1px solid #2d4b7e;

    }
}
.x-window {
    height: 27px;
    margin-left: 4px;
    margin-top: 5px;
}

#close:hover {
    background-color: #2d4b7e;
    transition: 0.5s;
}
#btn-close:hover{
    background-color: #2d4b7e;
    transition: 0.5s;
}

.image-nails {
    position: absolute;
    top: 6rem;
    left: 26.9rem;
    height: 320px;
    width: 260px;
}

.image-nails-2 {
    position: absolute;
    top: 6rem;
    left: 26.9rem;
    height: 320px;
    width: 300px;
}

.createdBy{
    position: absolute;
    font-size: 10px;
    left: 50%;
    top: 120%;
    transform: translate(-50%, -50%);
}


/* animação */

.item {
    transform: translateX(100vw);
    transition: 0.5s;
    opacity: 0;

}

& .active {
    transform: translateX(0);
    transition: 0.5s;
    opacity: 1;
}


/* Responsividade */

@media (max-width: 600px) {

    body{
        width: 100vw;
        height: 100vh;
    }

    .container-header {
        margin-left: 4%;
    }

    .container-header img {
        height: 100px;
    }

     .links, .link-nail {
        font-size: 20px;
    }

    .links:hover, .link-nail:hover {
        color: default;
        cursor: default;
        font-size: inherit;
    }

    .contact:hover{
        cursor: default;
    }

    #close:hover,#btn-close:hover{
        background-color: inherit;
    }

    .main {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container p {
        margin-top: -196px;
    }


    .logo-main {
        width: 70%;
    }

    .container-eyebrow, .container-nails {
        padding: 10px;
    }

    .logo-container {
        width: 31%;
    }

    .image-eyebrow, .image-nails {
        width: 100%;
    }

    .arrow img {
        width: 25px;
        height: 25px;
    }

    .contact{
        background-color: #edf4f5;
        color: #2d4b7e;
    }

    .x-window{
        height: 25px;
    }

    #btn-close, #close {
        position: absolute;
        right: 22px;
        top: 38px;
        border: none;
    }
        
    .main-img{
        display: none;
    }

}